body {
  background: #ffffff;
  padding: 0 16px;
}

section {
  padding: 9px 0;
}

section .description {
  padding: 9px;
  margin: 9px 0;
  border: 1px solid #ededed;
}

ul li {
  line-height: 1.59rem;
}

.title {
  color: #888888;
  margin: 19px 0 9px 0;
}

/* nav */
ul.nav li {
  display: block;
  padding-left: 0;
  margin-left: 0;
  line-height: 1.68rem;
  margin: 0.06rem 0;
}

ul.nav {
  margin-left: 0.86rem;
  padding-left: 0;
}

p.nav {
  margin-left: 0.86rem;
}

p.note,
ul.note {
  margin: 0.09rem 0.19rem 0.68rem 0.19rem;
}

/* pre */
pre {
  background: #f6f6f6;
  padding: 12px 9px;
}

code {
  line-height: 1.16em;
  margin: 0.04rem 0.21rem;
  padding: 0.02rem 0.28rem;
  border: 1px solid pink;
  border-radius: 0.133rem;
  color: #838883;
}

/* grid */
section .grid .row {
  margin: 0.38rem 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}

section .grid .row div::after {
  box-shadow: 0px 0px 0px 1px rgba(89, 91, 124, 0.2) inset;
  content: "";
  display: block;
  background-color: #e6e6e6;
  min-height: 1.6rem;
}
