// button
$basic-colour = #fafcfd
$primary-colour = #e6ebf1
$secondary-colour = #e2e4e6

// context
$negative-colour = #f4b4b4
$positive-colour = #d0f0c1

// line
$line-colour = #c7c7c7

// level
$critical-colour = #e32636
$warning-colour = #f6eaba
$error-colour = #feb8c0
$information-colour = #d4f3fa
$debug-colour = #aeaead

// link
$link-colour = #7fa2d6
$link-visited-colour = #a16fc5

// base colours
$gray0 = #f9f9fb
$gray1 = #97a1a6
$gray2 = #55545a

$black0 = #2b2d26
$black1 = #1e1f1a
$black2 = #11110e

$white0 = #ffffff
$white1 = #fdfdfd
$white2 = #fcfcfc
