@require './_colour.styl'

input-text()
  margin 0
  outline 0
  font-size 0.864em
  line-height 1.268em
  padding 0.344rem 0.592rem
  background #ffffff
  box-shadow none
  border-radius 0.12rem
  border 1px solid darken($gray0, 8%)
  width 100%
