@require './_colour.styl'

btn-style(c1, c2)
  background-color c2
  background-image -webkit-linear-gradient(260deg, c1 0%, c2 91%)
  background-image linear-gradient(-180deg, c1 0%, c2 91%)
  box-shadow 0 0.18rem 0.11rem -0.186rem darken(c2, 62%)

grouping(c)
  margin-left 0
  margin-right -0.33rem
  border-radius 0
  &:not(.flat):not(.lined)
    box-shadow 0.18rem 0.18rem 0.18rem -0.18rem darken($basic-colour, 62%)
  &:first-child
    border-radius 0.16em 0 0 0.16em
  &:not(.flat):not(.lined):first-child
    box-shadow 0.18rem 0.18rem 0.18rem -0.18rem darken($basic-colour, 62%)
  &:last-child
    margin-right 0
    border-radius 0 0.16em 0.16em 0
  &:not(.flat):not(.lined):last-child
    box-shadow 0 0.18rem 0.18rem -0.18rem darken($basic-colour, 62%)

$basic-text-colour = #3d4448
a.button,
button.button,
input[type="submit"].button
  outline 0
  margin 0
  color $basic-text-colour
  font-weight 300
  background-position 0 -0.08em
  background-repeat repeat-x
  padding 0.31rem 0.88rem
  font-size 0.82em
  line-height 1.37em
  display inline-block
  border-radius 0.16em
  opacity 0.94
  border 1px solid rgba(27, 31, 35, 0.2)
  btn-style(#fbfbfc, $basic-colour)
  &.grouped
    grouping($basic-colour)
  &.flat,
  &.lined
    color darken($basic-text-colour, 46%)
  &.lined
    box-shadow 0 0.18rem 0.11rem -0.186rem darken($line-colour, 72%)
  &.flat
    box-shadow none
  &:hover,
  &.flat:hover,
  &.lined:hover
    cursor pointer
    color darken($basic-text-colour, 46%)
    border 1px solid rgba(13, 31, 35, 0.35)
    text-decoration none
  &.flat:hover,
  &.lined:hover
    background-color lighten($basic-colour, 6%)


$primary-text-colour = rgba(91, 105, 142, 0.92)
a.primary.button,
button.primary.button,
input[type="submit"].primary.button
  border-color darken($primary-colour, 14%)
  color $primary-text-colour
  btn-style(#f0f3f6, $primary-colour)
  &.grouped
    grouping($primary-colour)
  &:hover
    border-color darken($primary-colour, 21%)
    color darken($primary-text-colour, 36%)
    btn-style(#f0f3f6, #e2eaf4)
  &.flat,
  &.lined
    color darken($primary-colour, 58%)
    &:hover
      background-color lighten($primary-colour, 28%)
  &.flat
    box-shadow none

$secondary-text-colour = rgba(84, 85, 87, 0.86)
a.secondary.button,
button.secondary.button,
input[type="submit"].secondary.button
  border 1px solid darken($secondary-colour, 18%)
  color $secondary-text-colour
  btn-style(#e9edf0, darken($secondary-colour, 3%))
  &.grouped
    grouping($secondary-colour)
  &:hover
    border 1px solid darken($secondary-colour, 26%)
    color darken($secondary-text-colour, 22%)
    btn-style(#e4e9ec, #d4dadd)
  &.flat,
  &.lined
    color darken($secondary-colour, 58%)
    &:hover
      background-color lighten($secondary-colour, 9%)
  &.flat
    box-shadow none

$negative-text-colour = rgba(140, 51, 51, 0.88)
a.negative.button,
button.negative.button,
input[type="submit"].negative.button
  border 1px solid lighten($negative-text-colour, 41%)
  color darken($negative-text-colour, 3%)
  btn-style(lighten($negative-colour, 33%), $negative-colour)
  &.grouped
    grouping($negative-colour)
  &:hover
    border 1px solid lighten($negative-text-colour, 29%)
    color darken($negative-text-colour, 18%)
    btn-style(lighten($negative-colour, 41%), darken($negative-colour, 3%))
  &.flat,
  &.lined
    color darken($negative-colour, 55%)
    &:hover
      background-color lighten($negative-colour, 13%)
  &.flat
    box-shadow none

$positive-text-colour = rgba(122, 153, 108, 0.88)
a.positive.button,
button.positive.button,
input[type="submit"].positive.button
  border 1px solid darken($positive-text-colour, 2%)
  color darken($positive-text-colour, 38%)
  btn-style(lighten($positive-colour, 16%), $positive-colour)
  &.grouped
    grouping($positive-colour)
  &:hover
    border 1px solid darken($positive-text-colour, 8%)
    color darken($positive-text-colour, 46%)
    btn-style(lighten($positive-colour, 28%), darken($positive-colour, 5%))
  &.flat,
  &.lined
    color darken($positive-text-colour, 42%)
    &:hover
      background-color lighten($positive-colour, 21%)
  &.flat
    box-shadow none


a.flat.button,
button.flat.button,
input[type="submit"].flat.button
  background-image none
  &:hover
    background-image none

a.lined.button,
button.lined.button,
input[type="submit"].lined.button
  background none
  background-image none
  &:hover
    background-image none

a.button.disabled,
button.button.disabled,
input[type="submit"].button.disabled
  opacity 0.47
  pointer-events none
  cursor not-allowed
