.grid
  display block
  width 100%

  .row
    display inline-block
    width 100%

cols = {
  '1': '6.25%',
  '2': '12.5%',
  '3': '18.75%',
  '4': '25%',
  '5': '31.25%',
  '6': '37.5%',
  '7': '43.75%',
  '8': '50%',
  '9': '56.25%',
  '10': '62.5%',
  '11': '68.75%',
  '12': '75.0%',
  '13': '81.25%',
  '14': '87.5%',
  '15': '93.75%',
  '16': '100%',
}

for k, v in cols
  .col-{k}
    width unquote(v)
    display inline-block
    box-sizing border-box
    float left
    padding 0.6rem
  .off-{k}
    margin-left unquote(v)

@media only screen and (max-width: 1280px)
  /* large size device */
  for k, v in cols
    .col-{k}
      width 50%
    .off-{k}
      margin-left 50%
    .col-l-{k}
      width unquote(v)
    .off-l-{k}
      margin-left unquote(v)

@media only screen and (max-width: 920px)
  /* m(iddle|edium) size device */
  for k, v in cols
    .col-{k}
      width 50%
    .off-{k}
      margin-left 50%
    .col-m-{k}
      width unquote(v)
    .off-m-{k}
      margin-left unquote(v)

@media only screen and (max-width: 640px)
  /* small size device */
  for k, v in cols
    .col-{k}
      width 100%
    .off-{k}
      margin-left 100%
    .col-s-{k}
      width unquote(v)
    .off-s-{k}
      margin-left unquote(v)

@media only screen and (max-width: 480px)
  /* tiny size device */
  for k, v in cols
    .col-{k}
      width 100%
    .off-{k}
      margin-left 100%
    .col-t-{k}
      width unquote(v)
    .off-t-{k}
      margin-left unquote(v)
