.grid
  display block
  width 100%

  .row
    display inline-block
    width 100%

cols = {
  '1': '6.25%',
  '2': '12.5%',
  '3': '18.75%',
  '4': '25%',
  '5': '31.25%',
  '6': '37.5%',
  '7': '43.75%',
  '8': '50%',
  '9': '56.25%',
  '10': '62.5%',
  '11': '68.75%',
  '12': '75.0%',
  '13': '81.25%',
  '14': '87.5%',
  '15': '93.75%',
  '16': '100%',
}

/**
 * NOTE:
 *   offset-N works only range in media queries
 */

for k, v in cols
  .column-{k}
    width unquote(v)
    display inline-block
    box-sizing border-box
    float left
    padding 0.6rem
  .offset-{k}
    margin-left unquote(v)

@media only screen and (max-width: 1280px)
  /* v(ast|ery large) size */
  [class*="column-v-"][class*="offset-"]
    margin-left unset
  [class*="column-"]
    padding 0.6rem 0.5rem
  for k, v in cols
    .column-v-{k},
    .column-v-{k}[class*="column-"]
      width unquote(v)
    .row .offset-v-{k}
      margin-left unquote(v)

@media only screen and (max-width: 980px)
  /* large size */
  [class*="column-l-"][class*="offset-"]
    margin-left unset
  [class*="column-"]
    padding 0.6rem 0.4rem
  for k, v in cols
    .column-l-{k},
    .column-l-{k}[class*="column-"]
      width unquote(v)
    .row .offset-l-{k}
      margin-left unquote(v)

@media only screen and (max-width: 768px)
  /* normal size */
  [class*="column-n-"][class*="offset-"]
    margin-left unset
  [class*="column-"]
    padding 0.6rem 0.35rem
  for k, v in cols
    .column-n-{k},
    .column-n-{k}[class*="column-"]
      width unquote(v)
    .row .offset-n-{k}
      margin-left unquote(v)

@media only screen and (max-width: 640px)
  /* m(iddle|edium) size */
  [class*="column-m-"][class*="offset-"]
    margin-left unset
  [class*="column-"]
    padding 0.6rem 0.3rem
  for k, v in cols
    .column-m-{k},
    .column-m-{k}[class*="column-"]
      width unquote(v)
    .row .offset-m-{k}
      margin-left unquote(v)

@media only screen and (max-width: 480px)
  /* small size */
  [class*="column-s-"][class*="offset-"]
    margin-left unset
  [class*="column-"]
    padding 0.6rem 0.2rem
  for k, v in cols
    .column-s-{k},
    .column-s-{k}[class*="column-"]
      width unquote(v)
    .row .offset-s-{k}
      margin-left unquote(v)

@media only screen and (max-width: 320px)
  /* tiny size */
  [class*="column-t-"][class*="offset-"]
    margin-left unset
  [class*="column-"]
    padding 0.6rem 0.1rem
  for k, v in cols
    .column-t-{k},
    .column-t-{k}[class*="column-"]
      width unquote(v)
    .row .offset-t-{k}
      margin-left unquote(v)
