@require './_colour.styl'
@require './_input.styl'

.menu
  display flex
  font-weight normal
  border-radius 0
  border none
  min-height 2.147rem
  box-shadow none
  list-style none
  &::after
    content ''
    display block
    height 0
    clear both
    visibility hidden

// menu - item
.menu
  .item
    display inline-block
    position relative
    vertical-align middle
    line-height 0.9em
    font-weight normal
    text-decoration none
    text-transform none
    user-select none
    background none
    box-shadow none
    margin 0.192rem 0.257rem
    padding 0.15rem 0.578rem
    color $black0
    flex 0 0 auto
    display flex
    align-items center
    border none
    &:first-child
      margin-left 0.33rem
    > a,
    > p:only-child
      user-select text
      line-height 1.12em
    > p:first-child
      margin-top 0
    > p:last-child
      margin-bottom 0

// menu - item decoration
.menu
  .item
    border-radius 0.185714rem
    border none
    transition color 0.1s ease 0s
    &::before
      background none
      border none
      border-radius none
  .item
    color lighten($black0, 16%)
    &:hover
      color darken($black2, 9%)
      background-color darken($gray0, 1%)
    &.active
      border-radius 0.185714rem
      box-shadow none
      color $black0

// right
.menu
  .right.menu,
  .right.item
    margin-left auto
    &::before
      right auto
      left 0
    &:last-child
      margin-right 0.33rem

// input form
.item
  input[type="text"]
    input-text()

// vertical
.menu.vertical
  width 12.345rem
  display block
  flex-direction column
  .item
    padding 0.66rem 0.864rem
    display block
  &.bordered
    .item
      margin 0
      border 1px solid lighten($gray1, 46%)
      border-radius 0
      border-top none
      &:first-child
        border-top 1px solid lighten($gray1, 46%)
        border-radius 0.133rem 0.133rem 0 0
      &:last-child
        border-radius 0 0 0.133rem 0.133rem

// tab
$tab-line-color = lighten($gray1, 46%)
.tab.menu
  position relative
  margin 0.68rem 0
  &::before
    z-index 1
  &::after
    visibility visible
    position absolute
    width 100%
    content ''
    bottom 0
    left 0
    border-bottom 1px solid $tab-line-color
    z-index 1
  .item
    position relative
    z-index 0
    font-size 0.95em
    line-height 0.9em
    padding 0.58rem 1.095rem 0.58rem 1.095rem
    margin 0 0.16rem
    border-radius 0.153rem 0.153rem 0 0
    &.active
      z-index 2
      margin 0
      border-radius 0.153rem 0.153rem 0 0
      border-top 3px solid $tab-line-color
      border-left 1px solid $tab-line-color
      border-right 1px solid $tab-line-color
      border-bottom 1px solid #ffffff
      &:hover
        border-top 3px solid darken($tab-line-color, 30%)
        background #ffffff
    &:hover
      color darken($black2, 9%)
      background darken($gray0, 1%)
      border-radius 0.133rem 0.133rem 0 0
  .menu:last-child,
  .item:last-child
    margin-right 0
