@require './_colour.styl'

div.message
  width 100%
  border 1px solid $gray1
  border-radius 0.133rem
  background $white0
  margin 0.48rem 0
  padding 0.11rem 0.98rem 0.28rem 0.98rem
  box-shadow none
  color $gray2
  font-size 0.91em
  .header
    font-size 0.98em
    margin 0.61rem 0 0.013rem 0
    padding 0
  p
    margin 0.57rem 0 0.61rem 0.06rem

div.petit.message
  width auto
  margin 0
  padding 0.06rem 0.83rem
  font-size 0.88em
  display inline-block
  .header
    font-size 0.91em
    margin 0.39rem 0 0.011rem 0
    padding 0
  p
    margin 0.43rem 0 0.49rem 0.06rem

div.primary.message
  color darken($primary-colour, 48%)
  background lighten($primary-colour, 16%)

div.secondary.message
  color darken($secondary-colour, 48%)
  background lighten($secondary-colour, 16%)

// context
div.negative.message,
div.failure.message
  border 1px solid darken($negative-colour, 51%)
  color darken($negative-colour, 49%)
  background lighten($negative-colour, 18%)

div.positive.message,
div.success.message
  border 1px solid darken($positive-colour, 62%)
  color darken($positive-colour, 68%)
  background lighten($positive-colour, 3%)

// level
div.critical.message
  border 1px solid darken($critical-colour, 42%)
  color darken($critical-colour, 62%)
  background lighten($critical-colour, 28%)

div.erro.message,
div.error.message
  border 1px solid darken($error-colour, 53%)
  color darken($error-colour, 63%)
  background lighten($error-colour, 21%)

div.warn.message,
div.warning.message
  border 1px solid darken($warning-colour, 56%)
  color darken($warning-colour, 69%)
  background lighten($warning-colour, 9%)

div.info.message,
div.information.message
  border 1px solid darken($information-colour, 51%)
  color darken($information-colour, 69%)
  background lighten($information-colour, 19%)

div.debug.message
  border 1px solid darken($debug-colour, 27%)
  color darken($debug-colour, 50%)
  background lighten($debug-colour, 24%)
