@require './_colour.styl'

*::selection
  background $black2
  color $gray0

*::-moz-selection
  background $black0
  color $gray0

hr
  height 0
  border none
  border-bottom 1px solid lighten($gray1, 64%)
  display block
  margin 0 0.786rem
