// see concat task in gulpfile.js
// @require '../node_modules/normalize.css/normalize.css'

*,
*::before,
*::after
  box-sizing inherit

html
  box-sizing border-box

body
  overflow-x hidden

a:active,
a:hover
  outline 0

b,
strong
  font-weight bold

img
  border 0

svg:not(:root)
  overflow hidden

hr
  height 0

pre
  overflow auto

button
  overflow visible

textarea
  overflow auto

table
  border-collapse collapse
  border-spacing 0

table td,
table th
  padding 0

nav
header
footer
figure
article
aside
section
  padding 0
  display block

html
  height 100%

body
  height 100%
  margin 0
  padding 0
  background-color #ffffff
