body
  font-family sans-serif

pre,
code
  font-family Courier, Monaco, monospace

h1
  font-family sans
  font-size 2.285em
  margin 0.93rem 0
  padding 0

h2
  font-family sans
  font-size 2.019em
  margin 0.83rem 0
  padding 0

h3
  font-family sans
  font-size 1.894em
  margin 0.73rem 0
  padding 0

h4
  font-family sans
  font-size 1.511em
  margin 0.63rem 0
  padding 0

h5
  font-family sans
  font-size 1.321em
  margin 0.53rem 0
  padding 0

h6
  font-family sans
  font-size 0.959em
  margin 0.43rem 0
  padding 0
