body
  font-family sans-serif

pre,
code
  font-family Courier, Monaco, monospace

h1
  font-family sans
  font-size 2.285em
  margin 0.93rem 0.043rem
  padding 0 0.119rem

h2
  font-family sans
  font-size 2.019em
  margin 0.83rem 0.043rem
  padding 0 0.128rem

h3
  font-family sans
  font-size 1.894em
  margin 0.73rem 0.043rem
  padding 0 0.146rem

h4
  font-family sans
  font-size 1.611em
  margin 0.63rem 0.043rem
  padding 0 0.181rem

h5
  font-family sans
  font-size 1.361em
  margin 0.53rem 0.043rem
  padding 0 0.212rem

h6
  font-family sans
  font-size 1.059em
  margin 0.43rem 0.043rem
  padding 0 0.261rem
