body
  font-family sans-serif

pre,
code
  font-family Courier, Monaco, monospace

h1
  font-family sans
  font-size 2.285em
  margin 1.06rem 0.063rem
  padding 0 0.119rem

h2
  font-family sans
  font-size 2.019em
  margin 1.06rem 0.063rem
  padding 0 0.128rem

h3
  font-family sans
  font-size 1.894em
  margin 0.96rem 0.063rem
  padding 0 0.146rem

h4
  font-family sans
  font-size 1.611em
  margin 0.86rem 0.063rem
  padding 0 0.181rem

h5
  font-family sans
  font-size 1.361em
  margin 0.76rem 0.063rem
  padding 0 0.212rem

h6
  font-family sans
  font-size 1.059em
  margin 0.66rem 0.063rem
  padding 0 0.261rem
